.profile {
  padding: 2rem 1.5rem;
  padding-top: 1rem;
}

.profileImage {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.profileImage img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-500);
}

.row {
  font-size: 0.85rem;
  color: var(--grey-600);
  text-transform: capitalize;
}

.row span {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .row {
    font-size: 1rem;
    color: var(--grey-500);
  }

  .row span {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .profile {
    padding: 2rem;
    padding-top: 1rem;
  }
  
  .profileImage img {
    width: 100px;
    height: 100px;
  }
}
